.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 62.50%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 5%;
    width: 95%;
    height: 95%;
  }

  .btn, .dropdown-toggle{
    width: fit-content;
  }
  a{
    text-decoration: none;
    color:red;
    font-weight: bold;
  }
  ul{
    display: flex;
  }
.yisan{
    height: 70px;
    width: 70px;
    background-image: url('asset/yi-san.jpg');
    background-size: cover;
  }
  .sangdo{
    height: 70px;
    width: 70px;
    background-image: url('asset/Sangdo-Merchants-of-Joseon.jpg');
    background-size: cover;
  }
  .hurjun99{
    height: 70px;
    width: 70px;
    background-image: url('asset/Hur-Jun-1999.jpg');
    background-size: cover;
}

.dongyi{
  height: 70px;
  width: 70px;
  background-image: url('asset/Dong_Yi.jpg');
  background-size: cover;
}
.seodong{
    height: 70px;
    width: 70px;
    background-image: url('asset/Ballad_of_SeoDong.jpg');
    background-size: cover;
}
.buddha{
    height: 70px;
    width: 70px;
    background-image: url('./Buddha-boxset_removebg.png');
    background-size: cover;
}
.royal-doctor{
    height: 70px;
    width: 70px;
    background-image: url('./royalDoctor.jpg');
    background-size: cover;
}
.dee-mcot{
  height: 70px;
  width: 70px;
  background-image: url("./Dee-Detective.jpg");
  background-size: cover;
}
.thumbnail{
    width: 85.2px; /* 426px */
    height: 48px; /*240px*/
}
.fi{
    height: 70px;
    width: 70px;
  }
.theLegend{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9-mZHXY3HgI3Dg9dis7Wx-Q5rQ_trw9WLqQ&s');
    height: 70px;
    width: 70px;
    background-size: cover;
}
.DeeS2{
    background-image: url('https://i.ibb.co/HGLy3Kd/Amazing-Detective-Di-Renjie-2.jpg');
    height: 70px;
    width: 70px;
    background-size: cover;
}
.DeeS3{
    background-image: url('https://i.ibb.co/qW14THn/Amazing-Detective-Di-Renjie-3.jpg');
    height: 70px;
    width: 70px;
    background-size: cover;
}
.bg-cadetblue{
    background-color: cadetblue;
    color: wheat;
}
.otherSeries{
    background-image: url("https://i.ibb.co/nzRWpnC/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png");
    height: 70px;
    width: 70px;
    background-size: cover;
}
